.list__comments {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
}

.no__comments__yet {
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    color: lightcoral;
}

/* MEDIA QUERIES */
@media only all and (max-width:1800px) {
    .list__comments {
        padding-inline: 1rem;
    }
}