.section {
    min-height: 100dvh;
}

.blog {
    width: 1000px;
    margin: auto;
    padding: 3rem 2rem;

}

.list__cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;
    justify-content: flex-start;
}

.section__title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    /* color: var(--accent); */
}



/* MEDIA QUERIES */
@media only all and (max-width:1080px) {
    .blog {
        width: 100%;
    }
}

@media only all and (max-width:425px) {
    .blog {
        padding-inline: 1rem;
    }
}