.bulb {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    align-self: flex-start;
    gap: .5rem;
    padding: .5rem .8rem;
    background-color: rgb(26, 115, 232, .1);
    color: var(--accent);
    border-radius: 25px;
    width: fit-content;
    transition: .3s ease-out;
    cursor: pointer;

    &:hover {
        background-color: var(--accent);
        color: #FFF;
    }
}
