/* From Uiverse.io by Yaya12085 */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 28px;
    color: var(--accent);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--accent);
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: var(--accent);
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message,
.switch__login__signup {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.switch__login__signup {
    text-align: center;
}

.switch__login__signup a {
    color: var(--accent);
}

.switch__login__signup a:hover {
    text-decoration: underline var(--accent);
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;

    .label {
        flex: 1;
    }
}

.form .label {
    position: relative;
}

.form .label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form .label .input+.span__placeholders {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form .label .input:placeholder-shown+.span__placeholders {
    top: 15px;
    font-size: 0.9em;
}

.form .label .input:focus+.span__placeholders,
.form .label .input:valid+.span__placeholders {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form .label .input:valid+.span__placeholders {
    color: var(--accent);
}

.submit {
    border: none;
    outline: none;
    background-color: var(--accent);
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    font-size: 16px;
    transform: .3s ease;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: .4rem;
    justify-content: center;

    &:disabled {
        background-color: var(--disabled);
    }
}

.submit:hover {
    background-color: rgb(56, 90, 194);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

/* MEDIA QUERIES */
@media only all and (max-width:425px) {

    .form {
        padding-inline: 16px;
    }

    .flex {
        flex-direction: column;
    }
}